<!doctype html>
<html lang="pt-BR" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EventosApp</title>
</head>
<body>
<h1>Cadastrar Eventos:</h1>
<form method="post">
    Nome: <input type="text" value="" name="nome">
    Local: <input type="text" value="" name="local">
    Data: <input type="date" value="" name="data">
    Horário: <input type="text" value="" name="horario">


    <button type="submit">Salvar</button>
</form>

</body>
</html>