<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index Controller</title>
</head>
<body>

<header>
    <p style="margin-bottom: 0%;">--</p>
    <table style="border-style: none; margin-bottom: 0%; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
        <tr>
            <td style="border-style: none;"><img src="https://raw.githubusercontent.com/missmissbr/fotos/main/logo_missmiss.png" alt="Miss-Miss Calçados" style="width: 120px;"></td>
            <td style="padding: 15px; border-style: none;">
                <H3
                        style="margin-bottom: 0%; margin-top: 0%; color: #1E90FF;">
                    TIAGO GOMES</H3>
                <h6 style="margin-top: 0%; margin-bottom: 0%; color: rgb(124, 116, 116);">Administração</h6>
                <span style="color: rgb(55, 108, 253); font-size: smaller;"><strong> E-mail:
                        </strong>tiago@missmisscalcados.com.br</span><br>
                <span style="color: rgb(55, 108, 253); font-size: smaller;"><strong> WhatsApp: </strong>+55 11
                        2651-2221</span><br>
                <span style="color: rgb(55, 108, 253); font-size: smaller;"><strong> Telefone: </strong>+55 11
                        2651-2221 - Ramal: 209</span>
                <p style="margin-top: 0%; margin-bottom: 0%; font-size: x-small;"><a href="https://www.missmisscalcados.com.br" target="_blank" style="text-decoration-line: none; margin: 0%;color: rgb(124, 116, 116);">www.missmisscalcados.com.br</a></p>
            </td>
            <td style="border-style: none;"><img src="https://raw.githubusercontent.com/missmissbr/fotos/main/Logo_50anos.png" alt="Beira Rio 50 anos" width="120px"></td>
        </tr>
    </table>

</header>

</body>
</html>